/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scroll-design {
		::-webkit-scrollbar {
			width: 10px;
		}
		::-webkit-scrollbar-track {
			border-radius: 5px;
			box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
		}
	}
}